.form-default {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  background: white;
  padding: 8px;
  border-radius: 8px;
}

.input-container {
  margin: 10px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  position: relative;
}

.input-container label {
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 0 4px;
  transition: all 0.2s ease;
  color: var(--button-color-hk-hover);
  font-weight: bolder;
}

.input-container input {
  padding: 4px 4px 1px 4px;
  height: 28px;
  font-size: var(--font-nm);
  z-index: 1;
  background: transparent;
  border-radius: 5px;
  outline-color: var(--tittles-hk);
  border: 1px solid var(--subtittles-hk);
  color: var(--background-hk);
}
.input-container input:focus ~ label {
  top: -13px;
  background-color: white;
  z-index: 2;
  font-size: var(--font-nm);
}

.input-container b {
  font-weight: bold;
  font-size: 14px;
  margin-right: 2px;
}

.activate-label-position {
  top: -11px !important;
  background-color: white !important;
  z-index: 2;
  color: var(--button-color-hk) !important;
  font-size: var(--font-sm) !important;
}

.loginContainer {
  width: 50%;
  margin: 0 auto;
  padding: 16px;
}

.recovery {
  margin: 8px auto;
  padding: 4px;
  font-size: small;
  transition: all 0.1s ease;
}

.recovery:hover {
  text-decoration: underline;
  font-weight: bold;
  color: var();
}

.formButton {
  background: var(--button-color-hk-hover);
  color: white;
  font-size: var(--font-md);
  font-weight: 600;
  padding: 8px;
  width: 60%;
  margin: 0 auto;
  border-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.formButton:hover {
  background: var(--button-color-hk-hover);
  color: var(--white-resalt-hk);
}

.formButton:active {
  transform: scale(0.9);
}

/* Botón para mostrar solicitudes */
.formButtonShow {
  width: auto;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 8px;
  gap: 4px;
  border-radius: 0;
}

.formButtonShow svg {
  color: var(--tittles-hk);
  width: 28px;
  height: 28px;
}

/* manejo de contenedor de botones */
.buttonContainer {
  width: 30%;
  margin: 12px auto 0 auto;
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
}

.buttonContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
}

.buttonContainer button:hover {
  background: white;
}

.buttonContainer button:hover svg {
  color: var(--button-color-hk);
}

.buttonContainer svg {
  color: var(--tittles-hk);
  transform: scale(1.5);
  height: 100%;
}

.cancelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buttonContainerInline {
  grid-column: auto;
  margin: 0;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
}

.buttonContainerInline button {
  width: 30px;
  height: 30px;
  margin: 0;
  background: transparent;
}

.buttonContainerInline button svg {
  transform: scale(1);
  color: rgb(155, 32, 32);
}

.buttonContainerInline button:first-child {
  transform: scale(1.2);
}
.buttonContainerInline button:first-child svg {
  color: var(--save-button);
}
.buttonContainerInline button:first-child svg:hover {
  color: var(--button-color-hk-hover);
}

/* clases especiales para casos de inputs específicos */
/* 1) Para Unificar el id con el campo siguiente */
.idField {
  margin: 0;
  padding: 0;
  width: 100%;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 25% 75%;
}

.idField span input {
  width: 100%;
}

/* 2) Para inputs CheckBox   */

.input-containerCheckbox {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.input-containerCheckbox label {
  transition: all 0.2s ease;
  color: var(--button-color-hk-hover);
  font-weight: bolder;
}

.input-containerCheckbox input {
  transform: scale(1.7);
}

/* Para select */

.selectContainer {
  color: var(--button-color-hk-hover);
  font-size: var(--font-nm);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0 12px;
  margin: 10px;
  align-self: flex-start;
}

.selectContainer select {
  display: block;
  padding: 4px;
  border-color: var(--tittles-hk);
  outline: none;
  /* min-width: 80%; */
  width: 90%;
}

.selectContainer option:checked {
  background: var(--button-color-hk-hover);
  color: white;
}

.inputWithButton {
  display: grid;
  grid-template-columns: 35% 65%;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.inputWithButton button {
  background: var(--button-color-hk);
  border: 1px solid var(--tittles-hk);
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
  color: white;
  transition: all ease 0.2s;
  cursor: pointer;
  position: relative;
}

.inputWithButton button:hover {
  background: var(--button-color-hk-hover);
  transform: scale(0.95);
}

.inputWithButton p {
  color: var(--button-color-hk);
  margin: 8px;
  font-weight: bold;
}

.inputWithButton p b {
  color: var(--button-color-hk-hover);
}

.textArea {
  width: '100%';
  border: 1px solid var(--subtittles-hk);
  padding: 2px;
  font-family: inherit;
  font-size: small;
  outline-color: var(--tittles-hk);
}

/* Container fechas y horas - Controles*/

.containerDates {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 4px;
  padding: 4px;
}

.containerDates span {
  margin: 0 !important;
}

.numberReg {
  background: var(--background-hk);
  width: 25px;
  height: 25px;
  margin: 0 0 3px 0;
  border-radius: 50%;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 span;
}

.formButtonAddSol {
  background: var(--tittles-hk);
  color: var(--button-color-hk-hover);
  font-size: larger;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0px 8px 3px;
  transition: 0.3s;
  animation-name: beat;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  /* animation-direction: alternate; */
  animation-timing-function: ease;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.formButtonTicket {
  border-radius: 2px !important;
  width: 45% !important;
}

#regTicket {
  color: var(--acept-button);
  background: white;
  border: 1px solid var(--button-color-hk-hover);
}
#regTicket:hover {
  background: var(--acept-button);
  color: white;
  border: 1px solid var(--acept-button);
}

#cancelButtonTicket {
  background: white;
  border: 1px solid var(--button-color-hk-hover);
}

#cancelButtonTicket a {
  color: var(--cancel-alert);
}

#cancelButtonTicket:hover {
  background: var(--cancel-alert);
  border: 1px solid var(--cancel-alert);
}

#cancelButtonTicket:hover a {
  color: white;
}

.resumenSolicitudes {
  width: 60%;
  background: var(--letters-hk);
  color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resumenSolicitudes span {
  width: 100%;
  display: grid;
  grid-template-columns: 10% auto;
  align-items: center;
  gap: 8px;
  margin: 4px;
  padding: 0 8px;
  border-bottom: 1px solid var(--button-color-hk-hover);
}

.resumenSolicitudes h4 {
  color: var(--acept-button);
}

.resumenSolicitudes b {
  color: var(--button-color-hk-hover);
  border-right: 1px solid var(--button-color-hk-hover);
}

/*Contenedores de inputs por número de columnas*/
.inputContainer2_1 {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 45%) 10%;
}

.inputContainer3_1 {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 28%) 16%;
}

.inputContainer1_3 {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 10% repeat(3, 30%);
}

.inputContainer1_1 {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 75% 25%;
}

.inputContainer1_1v {
  grid-template-columns: 95% 5%;
}

.inputContainer1_1Atention {
  grid-template-columns: 77% 23%;
}

.fieldSetCustom {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--letters-hk2);
  width: 100%;
  margin: 0 0 8px 0;
}

.fieldSetCustom legend {
  color: var(--save-button);
  margin-left: 8px;
  padding: 2px;
  font-size: 0.8em;
}

.fieldSetControls {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  color: var(--letters-hk2);
}

.controlsTable {
  width: 100%;
  text-align: center;
  border-spacing: 4px;
}

.controlsTable tbody strong {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--button-color-hk-hover);
  color: var(--button-color-hk);
  margin: 0 auto;
}

.controlsTable thead {
  color: var(--subtittles-hk);
}

#buttonTicket,
#buttonSolicitud {
  grid-column: auto;
  width: 100%;
  align-items: center;
}

#buttonSolicitud {
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}

#buttonTicket button,
#buttonSolicitud button {
  background: transparent;
  z-index: 2;
}

#buttonSolicitud button svg {
  width: 25px;
  height: 25px;
}

#buttonTicket button:first-child svg,
#buttonSolicitud button:first-child svg {
  color: var(--acept-button);
}
#buttonTicket button:last-child svg,
#buttonSolicitud button:last-child svg {
  color: var(--cancel-alert);
  scale: 0.9;
}

#buttonTicket button:hover,
#buttonSolicitud button:hover {
  background: var(--button-color-hk-hover);
}

#buttonTicket button:hover svg,
#buttonSolicitud button:hover svg {
  color: var(--subtittles-hk);
}

/*Especiales ventana de control de soporte para solución (agente de soprote)*/

.modalSolucion {
  background: rgba(39, 41, 39, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.modalSolucion span textarea {
  background: rgb(238, 238, 238);
  padding: 8px;
  border: 2px solid var(--save-button);
}

.modalSolucion span {
  background: rgb(247, 247, 247);
  margin: 0;
  border-radius: 0 0 8px 8px;
}

.modalSolucion label {
  font-size: 16px !important;
  left: 0;
  top: -25px !important;
  width: 100% !important;
  padding: 2px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.modalSolucion #buttonSolicitud {
  flex-direction: row;
  width: 30%;
  margin: 0 auto;
  padding: 4px;
}

/*Para pantalla de generación de reportes*/
.reportContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin: 4px;
  gap: 4px;
  overflow: auto;
}

.formReports {
  display: flex;
  /* grid-template-columns: repeat(2, 50%); */
  gap: 0 8px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.formReports .fieldSetCustom {
  grid-template-columns: auto;
  grid-column: auto;
  justify-content: stretch;
  padding: 0 4px;
  width: 600px;
}
.formReports .selectContainer {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  gap: 0;
  margin: 0;
}

.previewReports {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: white;
  color: black;
  padding: 8px;
}

#excelExport {
  background: transparent;
  border: 1px solid #31be7d;
  color: #31be7d;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: 0;
}

#excelExport:hover {
  box-shadow: inset 0 -2px 3px 2px #63af8c;
  color: #63af8c;
}

#excelExport:hover svg {
  scale: 1.1;
}

.previewReports table {
  padding: 4px;
  word-break: normal;
}

.previewReports table {
  font-size: small;
}

.previewReports table thead {
  border: 1px solid black;
  background: var(--subtittles-hk);
  font-size: var(--font-md);
}

.previewReports table thead th {
  padding: 4px;
}

.previewReports table td {
  border: 1px solid rgb(206, 206, 206);
  text-align: center;
  padding: 2px;
}

.containerButtonReports {
  width: 70%;
  align-items: center;
  flex-wrap: nowrap;
}

/*Para inputs de archivo e imagenes*/

.inputImage {
  display: grid;
  grid-template-columns: 20% 40% 35%;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  grid-column: 1/-1;
  justify-self: flex-start;
  width: 100%;
  color: black;
  font-size: small;
  border-bottom: 1px solid var(--save-button);
  padding: 2px 0;
}

.inputImageModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 11;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--dark);
  padding-top: 18px;
}

.inputImageModal h1 {
  position: absolute;
  top: 0;
  text-align: center;
  margin-top: 12px;
}

.inputImageModal h2 {
  z-index: 7;
}

.inputImage span {
  /* position: relative; */
  display: inline-block;
  cursor: pointer;
  border: 3px dashed white;
  width: 95%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputImage span::before {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: x-large;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

.inputImage span input[type='file'] {
  opacity: 0;
  height: 100%;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  padding: 8px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
}

.inputImage button {
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--acept-button);
  color: white;
  transition: all 0.1s ease;
  justify-self: center;
  font-size: 1em;
  outline: none;
  border: none;
  z-index: 7;
}

.inputImage button:hover {
  background-color: var(--button-color-hk-hover);
}

.inputImage button svg {
  color: white;
}

.removeImage {
  background: var(--delete-alert) !important;
}

.removeImage:hover {
  background-color: brown !important;
}

.previewImage {
  /* width: 50%; */
  object-fit: contain;
  justify-self: center;
}

/* .formItems {
  display: grid;
  grid-template-columns: 70% 30%;
} */

.containerPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.inputImageModal .containerPreview {
  z-index: 3;
  flex-direction: column;
}

.inputImageModal .previewImage {
  width: 90%;
  height: 80%;
}

/*Preview en pantalla de solicitudes de imagenes ya elegidas*/
.addFiles {
  color: var(--button-color-hk);
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid var(--dark-transparent);
  transition: all 0.1s ease;
  margin: 2px 8px;
  word-break: break-all;
  flex-wrap: wrap;
}

.addFiles:hover {
  background: var(--button-color-hk-hover);
  color: white;
}

.downloadFile {
  position: absolute;
  top: -35px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  background: var(--dark);
  color: white;
  padding: 2px;
  display: flex;
  width: 101%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* gap: 4px; */
  height: calc(100vh - 40px);
}

.downloadFilePreview {
  height: 80%;
}

.downloadFilePreview img {
  height: 100%;
  width: 100%;
}

.downloadFile h3 {
  color: var(--tittles-hk);
  margin-top: 0.1em;
}

.downloadLink {
  color: white;
  font-size: 1em;
  background: var(--acept-button);
  padding: 8px 4px;
  border-radius: 6px;
  font-weight: 500;
  box-shadow: inset 0 -3px 5px 0 var(--dark);
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.downloadLink svg {
  color: var(--tittles-hk);
  width: 25px;
  height: 25px;
}

.downloadLink:hover {
  background: var(--save-button);
}
.downloadLink:active {
  font-size: 1em;
}

#downloadClose {
  position: absolute;
  top: 1%;
  right: 5%;
  background: #800000;
  border-radius: 50%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#downloadClose svg {
  color: white;
}

#downloadClose:hover {
  background: white;
}

#downloadClose:hover svg {
  color: red;
}

.reportButton {
  border-radius: 8px !important;
  width: inherit !important;
  height: inherit !important;
  margin: 0 10px;
  padding: 4px !important;
  font-size: small;
  gap: 8px;
}
.reportButton svg {
  scale: 0.7;
}

.reportButton:hover {
  background: #31be7d !important;
  color: var(--button-color-hk-hover) !important;
}

/*Fin Para inputs de archivo / imagenes*/

/*Detalle de controles*/

#gridControles {
  display: grid;
  border-radius: 1px;
  box-shadow: inset 2px -2px 0px #1a73e8;
  grid-template-columns: 37% 37% 15% 10%;
  align-items: center;
  padding: 8px;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1024px) {
  /*Laptop 1024*/
  .formReports .fieldSetCustom {
    width: 480px;
  }

  .previewReports table {
    word-break: break-all;
  }
}

@media screen and (max-width: 768px) {
  /* Tablet  */
  .form-default {
    font-size: smaller;
  }

  .input-container input {
    font-size: 11px;
  }

  .loginContainer {
    width: 70%;
  }

  .inputImageModal h1 {
    font-size: var(--font-xl);
  }
  .inputImageModal h2 {
    font-size: var(--font-md);
  }

  .numberReg {
    width: 20px;
    height: 20px;
    font-size: small;
  }

  .formReports .fieldSetCustom {
    width: 360px;
  }

  .previewReports table {
    font-size: 10px;
  }
  .previewReports table thead {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  /* Movil  */

  .form-default {
    padding: 8px;
  }

  .textArea {
    font-size: 12px;
  }

  .formButtonShow {
    padding: 0 4px;
    font-size: 14px;
  }

  .loginContainer {
    width: 95%;
    padding: 2px;
  }

  .inputImageModal h1 {
    font-size: var(--font-nm);
  }
  .inputImageModal h2 {
    font-size: var(--font-nm);
  }

  .input-container {
    margin: 10px 4px;
  }

  .input-container label,
  .input-containerCheckbox label {
    font-size: var(--font-nm);
  }

  .input-container input {
    font-size: var(--font-nm);
  }

  .input-container input:focus ~ label {
    font-size: var(--font-sm);
  }

  .activate-label-position {
    font-size: var(--font-sm) !important;
  }

  .idField {
    grid-template-columns: 35% 65%;
  }

  /* manejo de contenedor de botones */
  .buttonContainer {
    width: 60%;
    margin: 8px auto 0 auto;
  }

  .buttonContainer button {
    font-size: 14px;
  }
  /*   .buttonContainer svg {
    transform: scale(1.5);
  } */
  .cancelButton {
    width: 100%;
  }

  .selectContainer {
    font-size: var(--font-sm);
    width: 95%;
    gap: 0 2px;
    margin: 2px;
  }

  .selectContainer select {
    width: 100%;
  }

  .formButtonAddSol {
    font-size: medium;
    padding: 4px;
  }

  .inputContainer2_1 {
    grid-template-columns: repeat(2, 40%) 15%;
  }
  .inputContainer3_1 {
    grid-template-columns: repeat(2, 48%);
  }
  .inputContainer1_3 {
    grid-template-columns: repeat(2, 48%);
  }
  .inputContainer1_1 {
    grid-template-columns: 93% 6%;
  }

  #gridControles {
    grid-template-columns: 48% 48%;
  }

  .fieldSetCustom {
    grid-template-columns: 1fr 1fr;
  }

  .controlsTable {
    font-size: var(--font-sm);
  }

  .inputContainer1_1Atention {
    grid-template-columns: 100%;
  }
  .inputContainer1_1AtentionDates {
    display: grid;
    grid-template-columns: auto auto;
  }

  .downloadFile {
    top: -22px;
  }

  .containerButtonReports {
    width: 100%;
    margin: 0 auto;
  }

  .containerButtonReports button {
    font-size: 11px;
  }
}

@media screen and (max-width: 320px) {
  .idField {
    grid-template-columns: auto;
  }

  .inputImageModal h1 {
    font-size: var(--font-sm);
  }

  .buttonContainer button {
    width: 30px;
    height: 30px;
    font-size: small;
  }
  .formButtonAddSol {
    font-size: medium;
    padding: 2px;
  }

  .fieldSetCustom {
    grid-template-columns: 100%;
  }

  .inputContainer1_1AtentionDates {
    grid-template-columns: auto;
  }

  .containerButtonReports button {
    font-size: 10px;
  }

  .previewReports table {
    font-size: 8px;
  }
  .previewReports table thead {
    font-size: 8px;
  }
}
