:root {
  --white: #ffffff;
  --white-resalt-hk: #d0cfd2;
  --background-hk: #100f1c;
  --background-hk2: #292d34;
  --black-hk: #0a0a0a;
  --letters-hk: #dbe2e8;
  --letters-hk2: #afb2d5;
  --tittles-hk: #ffc870;
  --subtittles-hk: #c4a25e;
  --dark: rgb(35, 40, 48, 0.98);
  --dark-transparent: rgba(25, 33, 43, 0.5);
  --save-button: #1a73e8;
  --acept-button: rgb(66, 167, 96);
  --cancel-alert: rgb(155, 32, 32);
  --delete-alert: rgb(228, 59, 59);
  --background-rows: rgb(247, 247, 247);
  --background-pag: #255696;
  /* BOTONES */
  --button-color-hk: #555fc2;
  --button-color-hk-hover: #444a8d;
  /* FUENTES */
  --font-sm: 10px;
  --font-nm: 12px;
  --font-md: 16px;
  --font-xl: 20px;
  --font-xxl: 28px;
  /* GRIDS */
  /*Grids Pantallas de visualización de todos los Tickets */
  --grid-column-tickets: 3% 5% 14% 20% 7% 5% 13% 10% 10% 10%;
  --grid-column-tickets-tablet: 3% 5% 13% 17% 7% 5% 13% 8% 10% 13%;
  --grid-column-tickets-mobile: 5% 6% 19% 17% 14% 15% 18%;
  --grid-column-tickets-mobile-small: 5% 6% 19% 15% 14% 16% 18%;
  /*Grids Pantallas de visualización de todos los módulos en general */
  --grid-column-items: 10% 25% 15% 10% 20% 15%;
  --grid-column-items-tablet: 8% 24% 15% 15% 17% 17%;
  --grid-column-items-mobile: 15% 32% 24% 25%;
  --grid-column-items-mobile-small: 8% 35% 25% 25%;
  /*Grids Pantallas de visualización de todas las solcitudes (agentes)*/
  --grid-column-solicitud: 3% 5% 11% 19% 7% 6% 21% 9% 7% 9%;
  --grid-column-solicitud-tablet: 3% 5% 10% 18% 7% 6% 19% 9% 8% 9%;
  --grid-column-solicitud-mobile: 5% 13% 17% 29% 15% 15%;
  --grid-column-solicitud-mobile-small: 7% 13% 17% 29% 16% 15%;
  --grid-column-5-col: 10% 40% repeat(2, 15%) 10%;
  --grid-column-solicitud-historico: 3% 5% 10% repeat(4, 8%) 15% 10% 8% 7% 5%;
  /*ESTATUS*/
  --estatus-mtr-solicitado: rgb(252, 192, 82);
  --estatus-mtr-proceso: rgb(41 185 125);
  --estatus-mtr-finalizado: rgb(197, 78, 201);
  --estatus-mtr-anulado: rgb(179, 179, 179);
  --estatus-det-pendiente: rgb(177, 55, 55);
  --estatus-det-asignado: rgb(128, 196, 223);
  --estatus-det-proceso: rgb(41 185 125);
  --estatus-det-pausado: rgb(216, 163, 66);
  --estatus-det-reasignado: rgb(42, 88, 238);
  --estatus-det-finalizado: rgb(197, 78, 201);
  --estatus-det-anulado: rgb(179, 179, 179);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background: var(--background-hk2);
  color: var(--letters-hk);
  font-family: 'Inter', sans-serif;
  height: 100%;
}

h1,
h2 {
  color: var(--tittles-hk);
}

h3,
h4,
h5 {
  color: var(--subtittles-hk);
}

.reactIconsFiles {
  background: var(--tittles-hk);
  width: 70px !important;
  height: 70px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 50% !important;
}

.reactIconsFiles svg {
  color: var(--button-color-hk) !important;
  transform: scale(1.5);
}

header {
  /* background: var(--background-hk); */
  background: var(--white);
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 4px 4px 4px;
  margin: 0 0 4px 0;
}

header svg {
  cursor: pointer;
}

.loginView {
  height: 80px;
  box-shadow: inset 0px -4px 4px 0px var(--button-color-hk-hover);
}

.logoMain {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 12px;
  padding: 4px;
  width: 100%;
  flex-wrap: wrap;
}

.logoMain h2,
h5 {
  text-align: center;
}

.logoMain h2 {
  color: var(--button-color-hk) !important;
}

.logoMain img {
  height: 100%;
}

nav,
ul {
  margin: 0;
  border: 0;
  list-style: none;
}

table {
  word-break: break-word;
  overflow: auto;
}

table thead,
table tfoot {
  word-break: normal;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*Change text in autofill textbox*/
/* input:-webkit-autofill {
  -webkit-text-fill-color: yellow !important;
} */

a {
  color: var(--letters-hk2);
  text-decoration: none;
}

svg {
  color: var(--button-color-hk);
  width: 32px;
  height: 32px;
  transition: all 0.2s ease;
}

/* Barra de busqueda */

.search_container {
  width: 95%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.search_container label {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon_search {
  font-size: 2em;
  color: var(--tittles-hk);
}

.search_bar {
  height: 30px;
  width: 90%;
  border-radius: 8px;
  border-style: none;
  outline: none;
  background: var(--white);
  padding: 5px;
  box-shadow: 0px 1px 1px 0px var(--dark-transparent);
  font-size: 1.05em;
  transition: 0.2s ease;
  color: var(--background-hk);
}

.search_bar:hover {
  border-radius: 0;
}

.buttonShowAll {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 2px;
  border-radius: 8px;
  cursor: pointer;
  border-color: transparent;
  background: white;
  color: var(--button-color-hk);
  transition: all 0.3s ease;
}

.buttonShowAll:hover {
  color: var(--tittles-hk);
  background: var(--button-color-hk);
  border-radius: 0px;
}
.buttonShowAll:hover svg {
  color: var(--tittles-hk);
}

/* FIN Barra de busqueda */

.delete svg {
  color: var(--delete-alert);
}

.delete svg:hover {
  color: red;
}

.reloadButton {
  background: white !important;
  width: 200px !important;
  padding: 8px !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.reloadButton:hover {
  background: rgba(235, 240, 240, 0.8) !important;
  color: white;
}

/* notificaciones */

.toasterDelete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.toasterDelete svg {
  color: var(--delete-alert);
  scale: 1.2;
}

.toasterButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 8px;
}

.toasterButtons button {
  width: 40px;
  height: 40px;
  padding: 2px;
  font-size: large;
  border-radius: 4px;
  background: transparent;
  border: 1px solid var(--button-color-hk);
  cursor: pointer;
}

.toasterButtons button:hover {
  background-color: var(--button-color-hk-hover);
  color: white;
}

/* FIN notificaciones */

/* Contenedores principales */

.mainContainer {
  display: flex;
  width: 100%;
  margin: 0;
  position: relative;
  height: calc(100vh - 45px);
  align-items: flex-start;
}

.generalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 97%;
  margin: 0 auto;
  position: relative;
}

.generalTitle {
  color: var(--tittles-hk);
  font-weight: bold;
  font-size: var(--font-md);
  border-bottom: 2px solid var(--dark-transparent);
  text-align: center;
  word-break: normal !important;
  margin-top: 3px;
}

.generalContainerDetails {
  width: 100%;
  height: 70vh;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-nm);
}

.generalContainerDetails > div:nth-of-type(odd) {
  background-color: var(--background-rows);
}

.item_grid {
  display: grid;
  grid-template-columns: var(--grid-column-items);
  width: 100%;
  padding: 4px 0;
  gap: 4px;
  justify-content: center;
  align-items: center;
  word-break: break-word;
}

.item_detail {
  border-bottom: 1px solid var(--dark-transparent);
  background: var(--white);
  color: var(--background-hk);
  transition: all 0.2s ease;
}

.item_detail:hover {
  box-shadow: inset 3px -2px 4px 0px var(--dark-transparent);
}

.item_detail_nulled {
  /* background: var(--letters-hk2) !important; */
  background: #a6a6a6 !important;
  color: var(--letters-hk);
}

.grid-plan {
  display: grid;
  grid-template-columns: var(--grid-column-5-col);
  width: 100%;
  padding: 4px 0;
  gap: 4px;
  justify-content: center;
  align-items: center;
  word-break: break-word;
}

.grid_tickets {
  display: grid;
  grid-template-columns: var(--grid-column-tickets);
  width: 100%;
  padding: 4px 0;
  gap: 4px;
  justify-content: center;
  align-items: center;
  word-break: break-word;
}

.grid_solicitudes {
  display: grid;
  grid-template-columns: var(--grid-column-solicitud);
  width: 100%;
  padding: 4px 0;
  gap: 4px;
  justify-content: center;
  align-items: center;
  word-break: break-word;
}

.grid_solicitudes_historico {
  display: grid;
  grid-template-columns: var(--grid-column-solicitud-historico);
  width: 100%;
  padding: 4px 0;
  gap: 4px;
  justify-content: center;
  align-items: center;
  word-break: break-word;
}

/* FIN Contenedores principales */

/* iconos en general */
.icons-container {
  color: var(--button-color-hk);
  background: none;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.icons-container button {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
  cursor: pointer;
  position: relative;
}

svg:hover {
  /* color: var(--button-color-hk-hover); */
  color: var(--tittles-hk);
  font-weight: bold;
}

svg:active {
  transform: scale(1.1);
}

#iconAdd {
  color: var(--button-color-hk-hover);
  width: 50px;
  height: 50px;
  background: var(--tittles-hk);
  transition: all 0.2s ease;
  position: fixed;
  left: 1%;
  bottom: 5px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  opacity: 0.8;
}

#iconAdd:hover {
  transform: scale(1.1);
  color: var(--tittles-hk);
  background: var(--white);
}

.showElement {
  display: none;
}

#returnButton {
  background-color: white !important;
  position: absolute;
  top: -20px;
  right: -17px;
}

#returnButton:hover {
  background: var(--background-hk2) !important;
}

#returnButton svg {
  color: var(--cancel-alert);
  scale: 1 !important;
}

#returnButton:hover svg {
  color: red !important;
}

/* FIN iconos en general */

/* Para iconó de busqueda de RUC en inputs de Personal_emp */
#searchRuc {
  position: absolute;
  top: -2px;
  right: 0;
  z-index: 5;
  scale: 0.9;
  cursor: pointer;
}

/*Clase que hara que cualquier campo ocupe todo el grid en un display Grid*/
.gridAllColumn {
  grid-column: 1/-1;
}

/*Mensajes que se mostrarán en formularios dependiendo de las acciones requeridas*/

.alertMessage {
  display: block;
  text-align: center;
  color: var(--delete-alert);
  font-size: var(--font-nm);
  width: 100%;
  margin: 2px auto;
}

/* Para Timer */

.timerContainer {
  margin: 0;
  background: white;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* box-shadow: inset 0 0 6px 2px var(--button-color-hk-hover); */
  border-radius: 8px;
  align-self: flex-start;
}

.timer {
  text-align: center;
  color: var(--button-color-hk);
  text-shadow: 2px 1px var(--button-color-hk-hover);
  font-size: 40px;
}

.timerButtonContaniner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.timerButtonContaniner button {
  width: 70px;
  height: 70px;
  border: none;
  background: white;
  font-size: 12px;
  font-weight: bold;
  color: rgb(27, 27, 155);
  cursor: pointer;
  padding: 4px;
  transition: 0.2s ease all;
}

.timerButtonContaniner button:disabled {
  color: rgb(236, 236, 236);
}

.timerButtonContaniner button svg {
  width: 45px;
  height: 45px;
}

.timerButtonContaniner button:hover {
  box-shadow: inset 0px -6px 8px -5px var(--button-color-hk-hover);
  border-radius: 8px;
  color: var(--button-color-hk);
}

.timerButtonContaniner button:active {
  scale: 0.8;
}

.timerButtonContaniner button:hover svg {
  color: var(--subtittles-hk);
  scale: 1.2;
}

input:disabled,
textarea:disabled,
button:disabled {
  background: rgb(206, 206, 206, 0.3) !important;
  border-color: transparent !important;
  color: black;
}

#form {
  position: relative;
}

#cancelButtonEditTicket {
  background-color: white !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: absolute;
  top: -20px;
  right: -15px;
}

#cancelButtonEditTicket:hover {
  background: var(--background-hk2) !important;
}

#cancelButtonEditTicket svg {
  scale: 1 !important;
}

#cancelButtonEditTicket:hover svg {
  color: red !important;
}

#updateMtrTK {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#updateMtrTK svg {
  color: var(--acept-button);
}

#updateMtrTK:hover svg {
  color: var(--save-button);
  scale: 1 !important;
}

/*Clase para contador de registros en pantallas de tickets*/

.counter {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  border-right: 1px solid #444a8d;
  color: #444a8d;
}

.captcha {
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
}

.captcha-error {
  color: var(--delete-alert);
  font-weight: bold;
  text-align: center;
}

/*Clases para menu en mobile*/

.mobileMenu {
  position: absolute;
  background: rgb(85, 95, 194, 0.9);
  z-index: 9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  animation-name: showMobile;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  /* animation-direction: alternate; */
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.mobileMenu li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 12px;
}

.mobileMenu li:hover {
  background: var(--button-color-hk-hover);
}

.mobileMenu li a {
  display: flex;
  align-items: center;
  color: white;
}

.mobileMenu svg {
  color: var(--tittles-hk);
  margin-right: 12px;
}

/* .formButtonAddSol {
  background: var(--tittles-hk);
  color: var(--button-color-hk-hover);
  font-size: larger;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0px 8px 3px;
} */

/* Para sección de paginación*/

.paginacionContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 4px;
  background-color: var(--background-pag);
  color: var(--tittles-hk);
  font-size: 14px;
  margin-top: 10px;
  gap: 8px;
}

.pagNavigate {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.pagNavigate button {
  display: flex;
  width: 40px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: var(--background-rows);
  padding: 2px;
  border-radius: 4px;
  border: none;
  font-size: 11px;
  cursor: pointer;
  color: var(--button-color-hk);
  box-shadow: inset 0 -4px 2px 0px rgba(25, 33, 43, 0.5);
  transition: all 0.15s ease;
}

.pagNavigate button:hover {
  background: var(--button-color-hk-hover);
  color: var(--tittles-hk);
}
.pagNavigate button:hover svg {
  color: var(--tittles-hk);
}

/*Fin para sección de paginación*/

@keyframes showMobile {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
  /* Tablet  */
  h2 {
    font-size: var(--font-xl);
  }

  #iconAdd {
    width: 55px;
    height: 55px;
  }

  .item_grid {
    grid-template-columns: var(--grid-column-items-tablet);
    padding: 2px 0;
    gap: 3px;
  }

  .icons-container {
    gap: 3px;
    /* flex-wrap: nowrap; */
  }

  .icons-container svg {
    width: 25px;
    height: 25px;
  }

  .generalContainerDetails {
    font-size: var(--font-sm);
  }

  .generalTitle {
    font-size: var(--font-nm);
    word-break: break-word !important;
  }

  .grid_tickets {
    grid-template-columns: var(--grid-column-tickets-tablet);
  }

  .grid_solicitudes {
    grid-template-columns: var(--grid-column-solicitud-tablet);
  }
}

/* Mobile  Normal*/
@media screen and (max-width: 480px) {
  h2 {
    font-size: var(--font-md);
  }
  h3 {
    font-size: var(--font-nm);
  }
  h4 {
    font-size: var(--font-nm);
  }

  #cancelButtonEditTicket {
    top: -4px;
    right: -2px;
    width: 30px;
    height: 30px;
  }

  #updateMtrTK {
    right: -10px;
  }

  .search_container {
    width: 98%;
  }
  .search_bar {
    width: 98%;
    border-radius: 6px;
    padding: 3px;
    font-size: 0.8em;
    transition: 0.2s ease;
    color: var(--background-hk);
  }

  .counter {
    font-size: 8px;
  }

  .generalTitle {
    font-size: var(--font-nm);
    word-break: break-word !important;
  }

  .item_grid {
    grid-template-columns: var(--grid-column-items-mobile);
  }

  .hideElement {
    display: none;
  }

  .item_detail {
    font-size: var(--font-sm);
  }

  svg {
    width: 30px;
    height: 30px;
  }

  header {
    justify-content: space-between;
    padding: 2px;
  }

  .loginView {
    height: 55px;
  }

  .logoMain {
    justify-content: space-between;
    gap: 0;
  }

  .logoMain h2 {
    font-size: var(--font-md);
  }

  .logoMain h5 {
    font-size: var(--font-sm);
  }

  .grid_tickets {
    grid-template-columns: var(--grid-column-tickets-mobile);
  }

  .grid_solicitudes {
    grid-template-columns: var(--grid-column-solicitud-mobile);
  }

  .icons-container svg {
    width: 22px;
  }

  .generalTitle {
    font-size: var(--font-sm);
  }

  .timerContainer {
    grid-column: 1/-1;
  }

  #returnButton {
    right: -2px;
  }
}
/* Mobile  Small*/
@media screen and (max-width: 320px) {
  /* .item_grid {
    grid-template-columns: var(--grid-column-items-mobile-small);
  } */
  h2 {
    font-size: var(--font-nm);
  }

  h5 {
    font-size: var(--font-nm);
  }

  #cancelButtonEditTicket {
    top: -20px;
  }

  .loginView {
    height: 55px;
  }

  svg {
    width: 25px;
    height: 25px;
  }

  #searchRuc {
    background: white;
    border-radius: 50%;
  }

  .item_detail {
    font-size: 9px;
  }

  .grid_tickets {
    grid-template-columns: var(--grid-column-tickets-mobile-small);
  }

  .grid_solicitudes {
    grid-template-columns: var(--grid-column-solicitud-mobile-small);
  }
}
